/* Contenedor principal del formulario de cambio de contraseña */
.password-form-container {
  padding: 50px; /* Espaciado interno */
  justify-content: center !important; /* Centrado vertical del contenido */
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centrado horizontal */
  border: 1px solid #e7e5e5; /* Borde sutil alrededor del contenedor */
  border-radius: 20px; /* Bordes redondeados */
}

/* Grupo de inputs dentro del formulario */
.password-form-container .password-form-group {
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  font-weight: 900 !important; /* Letra en negrita */
}

/* Estilo del título del formulario */
.title-password {
  color: #000; /* Texto negro */
  text-align: left; /* Alineación a la izquierda */
  font-size: 1.5rem; /* Tamaño grande para destacar */
  font-weight: bold !important; /* Negrita asegurada */
}
