.parrafo {
    width: 90%; /* Define un ancho máximo del párrafo para mayor legibilidad */
    font-size: 17px; /* Tamaño de fuente adecuado para lectura */
    letter-spacing: 2px; /* Espaciado entre letras para mejorar el estilo visual */
}

h2 {
    letter-spacing: 3px; /* Aumenta el espaciado de letras en títulos para destacar */
}

.parrafo b {
    font-weight: 700; /* Estiliza el texto en negrita dentro del párrafo para resaltar ideas clave */
}
