/* Estilos generales de la barra de navegación */
.navbar {
    font-size: 17px; /* Tamaño de fuente general */
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1); /* Sombra suave en la parte inferior */
}

/* Íconos Material (como carrito o usuario) */
.material-symbols-outlined {
    padding: 0 20px;
    color: black;
    transition: 0.4s ease; /* Transición suave al hacer hover */
}

.material-symbols-outlined:hover {
    color: var(--color-primario2); /* Color personalizado en hover */
}

/* Título del sitio / logo de texto */
.navbar h2 {
    margin-left: 20px;
}

/* Elementos de lista de navegación */
.navbar li {
    list-style: none;
    font-size: 1.5rem; /* Tamaño grande para visibilidad */
}

/* Estilos generales para los iconos y spans */
.navbar span {
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

/* Responsive design: ajustes para pantallas pequeñas */
@media only screen and (max-width: 990px) {
    .nav-buttons {
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        text-align: left;
    }

    .navbar form {
        width: 10px; /* Puede que esto necesite ajustes */
    }

    .navbar .no-link-style {
        text-decoration: none;
        color: inherit; /* Mantiene los colores del contenedor padre */
    }

    .nav-buttons ul .fas {
        margin: 2px 5px 10px 20px;
    }
}

/* Asegura que el menú desplegable esté por encima de otros elementos */
.navbar-collapse {
    z-index: 99;
}

/* Estilos de la lista en el menú desplegable */
.navbar-collapse ul {
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
}

/* Espaciado entre ítems del navbar */
.navbar-collapse li {
    padding-right: 10px;
}

/* Estilo general de los links */
.nav-link {
    font-weight: 800; /* Hace el texto más grueso para destacar */
}

/* Botones con borde del color primario definido */
.btn {
    border-color: var(--color-primario2);
}
