/* Estilos para la clase .product-info dentro del contenedor .cart */
.cart .product-info {
    display: flex; /* Alinea los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no hay espacio */
}

/* Espaciado interno para las celdas de la tabla dentro del carrito */
.cart td {
    padding: 10px 20px;
}

/* Estilo global para todos los enlaces */
a {
    font-weight: 800; /* Hace que el texto del enlace sea más grueso */
}

/* Estilos para las imágenes dentro de las celdas de la tabla del carrito */
.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilos para los inputs de cantidad dentro del carrito */
.cart td input {
    width: 40px;
    height: 30px;
    padding: 5px; /* Espaciado interno del input */
}

/* Estilos para los enlaces dentro del carrito */
.cart td a {
    color: var(--color-primario2); /* Usa la variable de color primario2 */
}

/* Enlace para eliminar un producto */
.cart .remove-btn {
    color: var(--color-primario2);
    text-decoration: none; /* Quita el subrayado */
    font-size: 14px;
}

/* Enlace para editar la cantidad del producto */
.cart .edit-btn {
    color: var(--color-primario2);
    text-decoration: none;
    font-size: 15px;
    padding-left: 8px; /* Añade espacio antes del texto */
}

/* Estilos del párrafo dentro de la info del producto */
.cart .product-info p {
    margin: 3px;
    color: black; /* Asegura que el texto sea legible sobre fondos claros */
}
